<% if @tweet.errors.present? %>
  <div class="tweet-error" role="alert">
    <strong class="font-bold"><%= t('error') %></strong>
    <span><%= t('tweets.error_messages.header', count: @tweet.errors.count) %></span>
    <ul>
      <% @tweet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
