<div class="non-logged-in-message">
  <h2 class="tweet-login-h"><%= t('tweets.please_login') %></h2>
  <p class="tweet-login"><%= t('tweets.join_conversation') %></p>
  <%= link_to t('login'), new_user_session_path, class: 'login-button' %>
  <%= link_to t('signup'), new_user_registration_path, class: 'signup-button' %>
</div>
