<div class="quote-tweet">
  <div class="quote-tweet-content">
    <p class="quote-tweet-body"><%= tweet.body %></p>
    <div class="quote-tweet-original">
      <div class="quote-tweet-header">
        <span class="quote-tweet-author"><%= tweet.origin.user.username %></span>
        <span class="quote-tweet-time">· <%= time_ago_in_words_localized(tweet.origin.created_at) %></span>
      </div>
      <p class="quote-tweet-original-body"><%= tweet.origin.body %></p>
    </div>
  </div>
</div>