<div class="tweets-page-container">
  <% if user_signed_in? %>
    <%= render 'tweets/tweet_form' %>
  <% else %>
    <%= render 'tweets/non_authorized_message' %>
  <% end %>

  <h2 class="tweet-header"><%= t('tweets.recent_tweets') %></h2>

  <ul id="tweet_list" class="tweet-list">
    <%= render partial: 'tweets/tweet', collection: @tweets, as: :tweet %>
  </ul>
</div>

