<% if user_signed_in? %>
  <%= render 'tweets/tweet_form' %>
<% else %>
  <%= render 'tweets/non_authorized_message' %>
<% end %>

<h2 class="tweet-header">Recent Tweets</h2>

<ul class="tweet-list">
  <% @tweets.each do |tweet| %>
    <%= render 'tweets/tweet', tweet: tweet %>
  <% end %>
</ul>