<div class="tweets-page-container">
  <div class="tweet-show-header">
    <h2 class="tweet-header"><%= t('tweets.show') %></h2>
    <%= link_to t('tweets.back_to_tweets'), tweets_path, class: 'back-button' %>
  </div>

  <div class="tweet-show-container">
    <ul class="tweet-list">
      <%= render partial: 'tweets/show_tweet', locals: { tweet: @tweet } %>
    </ul>
  </div>
</div>